<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
  
    <h1>
      Your gemstone is the <%=@gem1%>
    </h1>
    
    <img src= "<%=@image1%>"
    
    
  </body>
</html>